.search {
  outline: none;
}

#categories {
  list-style-type: none;
  overflow: hidden;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: scroll;
  overflow-y: hidden;
}

#categories li {
  display: inline;
}

#categories::-webkit-scrollbar {
  background-color: rgba(41, 43, 44, 0.9);
}

.color {
  outline: none;
  border: none;
  margin: 0;
  background-color: white;
  height: 8vh;
  padding: 0 10px;
  /*transition-property:border-top-left-radius,border-top-right-radius,background-color,color;
    transition-duration: 0.5s;*/
}

.animation1 {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  color: white;
  background-color: rgba(41, 43, 44, 0.9);
  transition-property: all;
  transition-duration: 0.5s;
}

i {
  padding-right: 10px;
  color: #948772;
}

.ratings-list {
  list-style-type: none;
}

.ratings-list li {
  display: inline;
  font-size: 1.5rem;
}

.ratings-list li span {
  font-size: 1.5em;
}

.active-rating {
  color: yellow;
}

.cardText {
  height: 30vh;
  overflow-x: scroll;
}

.cardText::-webkit-scrollbar {
  background-color: white;
}

#cardContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.Cards {
  width: 30%;
}

@media only screen and (max-width: 600px) {
  #cardContainer {
    display: block;
  }

  .Cards {
    width: auto;
  }
}

.form-control {
  border-radius: 0;
}

textarea {
  resize: none;
}

.btnAuth {
  line-height: 2.3;
  margin: 9px;
}
.type{}
