body {
  font: 400 15px/1.8 Lato, sans-serif;
  background-image: url('https://image.freepik.com/free-photo/blur-hospital-clinic-interior_1203-8618.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
.navbar {
   font-family: Montserrat, sans-serif;
   margin-bottom: 0;
   background-color: #2d2d30;
   border: 0;
   font-size: 11px !important;
   letter-spacing: 4px;
   opacity: 0.9;
 }
 .navbar li a, .navbar .navbar-brand {
   color: #d5d5d5 !important;
 }
 .navbar-nav li a:hover {
   color: #fff !important;
 }
 .navbar-nav li.active a {
   color: #fff !important;
   background-color: #29292c !important;
 }
 .navbar-default .navbar-toggle {
   border-color: transparent;
 }
#form{
    color: white;
    border-radius: 20px;
  }
  h1{
    color: white;
    text-align: center;
  }
  .img{
    width: 50%;
    height: 100%;
    box-sizing: border-box;
      padding: 0;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 15px;

  }
  #primaryContainer{
    border-radius: 20px;
    margin-top: 10vh;
    margin-bottom: 5vh;
    margin-bottom: 10vh;
    z-index: -2;
    padding: 0;
  }
  button{
    background-color:white;
    border-width: 2px;
    border-color: white;
    border-style: solid;
    color: black;
    margin-top: 10%;
    width: 50%;
    border-radius: 10px;
    margin-left: 25%;
    margin-bottom: 5%;
  }
  button:hover{
    background-color:blue ;
    color: white;
    border:none;
  }
  .position{
    position: static;
  }
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }


  @media only screen and (min-width: 1000px){
    .image{
      height: 88vh;
    }
  }
  /* On screens that are 992px or less*/
@media screen and (max-width: 992px) {
  .img{
    width: 100%;
  }
}
.form-control {
  border-radius: 0;
}
textarea {
  resize: none;
}
.btnAuth{
  line-height: 2.3;
  margin: 9px;
}
