
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
 .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  #primaryContainer{
    margin-top: 10vh;
  }
  .img{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 15px;
  }
  #timeslot{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

  }
  #timeslot button{
    border-radius: 10px;
    padding: 10px;
    background: white;
    margin: 5px;
  }
  #timeslot button:hover{
    border-radius: 10px;
    padding: 10px;
    background: #777;
    color: white;
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#myPage">EXCELERENTUM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">HOME</a></li>
        <li><a href="">CENTRE</a></li>
        <li><a href="">REGISTER</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span>MY PROFILe</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container" id="primaryContainer">

  <form >
    <div class="form-group">
      <label for="exampleFormControlInput1">Center Name</label>
      <input type="text" class="form-control" id="exampleFormControlInput1" >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Date</label>
      <input type="date" class="form-control" id="exampleFormControlInput2" >
    </div>
    <div class="form-group">
      <label for="exampleFormControlInput1">Select Time Slot</label>
      <div id="timeslot">
        <button type="button" name="button">10Am</button>
        <button type="button" name="button">11Am</button>
        <button type="button" name="button">12Am</button>
        <button type="button" name="button">2Pm</button>
        <button type="button" name="button">3Pm</button>
        <button type="button" name="button">4Pm</button>
        <button type="button" name="button">5Pm</button>
        <button type="button" name="button">6Pm</button>
        <button type="button" name="button">7Pm</button>
      </div>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect2">Select Departments</label>
      <select class="form-control" id="exampleFormControlSelect2">
        <option>Radiology</option>
        <option>X-ray center</option>
        <option>OPD</option>
        <option>CT-scan</option>
      </select>
    </div>
    <button type="submit" class="btn btn-primary mt-5" style="width:25vw;margin:0 auto;margin-top:5vh;">Book Now</button>
  </form>

  <img class="image " src="https://image.freepik.com/free-vector/saving-money-concept-background_23-2148146454.jpg" width="100px" height="100px" alt="Responsive image">

</div>
</body>
</html>
