<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    body {
      font: 400 15px/1.8 Lato, sans-serif;
      background-image: url('https://image.freepik.com/free-photo/blur-hospital-clinic-interior_1203-8618.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar {
       font-family: Montserrat, sans-serif;
       margin-bottom: 0;
       background-color: #2d2d30;
       border: 0;
       font-size: 11px !important;
       letter-spacing: 4px;
       opacity: 0.9;
     }
     .navbar li a, .navbar .navbar-brand {
       color: #d5d5d5 !important;
     }
     .navbar-nav li a:hover {
       color: #fff !important;
     }
     .navbar-nav li.active a {
       color: #fff !important;
       background-color: #29292c !important;
     }
     .navbar-default .navbar-toggle {
       border-color: transparent;
     }
    #form{
        color: white;
        border-radius: 20px;
      }
      h1{
        color: white;
        text-align: center;
      }
      .img{
        width: 50%;
        height: 100%;
        box-sizing: border-box;
          padding: 0;
      }
      .image{
        width: 100%;
        height: 100%;
        border-radius: 15px;

      }
      #primaryContainer{
        border-radius: 20px;
        margin-top: 10vh;
        margin-bottom: 5vh;
        margin-bottom: 10vh;
        z-index: -2;
        padding: 0;
      }
      button{
        background-color:white;
        border-width: 2px;
        border-color: white;
        border-style: solid;
        color: black;
        margin-top: 10%;
        width: 50%;
        border-radius: 10px;
        margin-left: 25%;
        margin-bottom: 5%;
      }
      button:hover{
        background-color:blue ;
        color: white;
        border:none;
      }
      .position{
        position: static;
      }
      footer {
        background-color: #2d2d30;
        color: #f5f5f5;
        padding: 32px;
      }
      footer a {
        color: #f5f5f5;
      }
      footer a:hover {
        color: #777;
        text-decoration: none;
      }


      @media only screen and (min-width: 1000px){
        .image{
          height: 88vh;
        }
      }
      /* On screens that are 992px or less*/
    @media screen and (max-width: 992px) {
      .img{
        width: 100%;
      }
    }
    .form-control {
      border-radius: 0;
    }
    textarea {
      resize: none;
    }
    .btnAuth{
      line-height: 2.3;
      margin: 9px;
    }
    </style>


  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#myPage">EXCELERENTUM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/">HOME</a></li>
            <li><a href="/center">CENTRE</a></li>
            <li><a href="/user/profile">PROFILE</a></li>
            <li><a href="/register">REGISTER</a></li>

            <% if(auth) { %>
            <li>

              <form action="/logout" method="POST">
                <button type="submit" class="btnAuth">Logout</button>
              </form>
            </li>
            <% } else { %>
            <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>

            <li>
              <form action="/login" method="GET">
                <button type="submit" class="btnAuth">Login</button>
              </form>
            </li>
            <% } %>

            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="bg-primary container p-0" id="primaryContainer">
    <div class="col-lg-6 img position">
      <img class="image " src="https://as1.ftcdn.net/jpg/02/15/32/30/500_F_215323030_cbEjE1nAKNlr4eFYmcMVmhJMmQEnsUyK.jpg" alt="Responsive image">
    </div>
    <div class="col-lg-6 mt-2 position">
      <h1 class="bg-primary  p-2">Register With Us</h1>
      <div id="form" class="conatiner w-100 mx-auto bg-primary p-3">
        <form method="POST" action="/submitCenter" enctype="multipart/form-data">
          <div class="form-group">
            <label for="exampleFormControlInput1">Center Name</label>
            <input type="text" class="form-control" name="centerName">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Phone NO.</label>
            <input type="text" class="form-control" name="pNo">
          </div>
          <div class="form-group">
            <label for="exampleFormControlInput1">Address</label>
            <input type="text" class="form-control" name="address">
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Describe your center</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
         </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Category</label>
            <select class="form-control" id="category" name="domain">
              <option value='Banks'>Banks</option>
              <option value='Hospitals'>Hospitals</option>
              <option value='Government Offices'>Government Offices</option>
              <option value='Restraunt'>Restraunt</option>
              <option value='Salons/Spa'>Salons/Spas</option>
            </select>
          </div>
          <% let a=2 /*value of above category input*/
          if(a==2){ //for hospitals %>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Select Departments</label>
            <select multiple class="form-control" id="exampleFormControlSelect2" name="department">
              <option>Radiology</option>
              <option>X-ray center</option>
              <option>OPD</option>
              <option>CT-scan</option>
            </select>
          </div>
          <%}else{%>
          <div class="form-group">
            <label for="exampleFormControlInput1">Number of Counters</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" name="counterNo">
          </div>
          <%}%>
          <input type="text" id="img_url" style="display: none;" value="" name="img_url">
          <div class="custom-file">
            <label class="custom-file-label" for="customFile">Upload a picture</label>
            <input type="file" class="custom-file-input" id="addProductImages" name="img" accept=".jpg,.png" multiple data-show-upload="true" data-show-caption="true">
            <label class="custom-file-label" for="customFile"><i class="fas fa-upload"></i>Upload</label>
            <div style="display: flex;"><progress style="display: none; margin: 3px;" value="0"
                    max="100" id="uploader">0%</progress>
                <p id="prog_shot"></p>
            </div>
          </div>
          <button type="submit" class="rounded-pill p-2 mt-3">Submit<i class="fas fa-arrow-right mx-2"></i></button>
        </form>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>All Rights Reserved @Excelerentum</p>
  </footer>

<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-storage.js"></script>


<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.18.0/firebase-analytics.js"></script>

  <script>
    // Your web app's Firebase configuration
    const firebaseConfig = {
  apiKey: "AIzaSyC5D0BGirxm4WTNR_zPOQXW-beVb6vNxtQ",
  authDomain: "excellerentum.firebaseapp.com",
  projectId: "excellerentum",
  storageBucket: "excellerentum.appspot.com",
  messagingSenderId: "1051021172847",
  appId: "1:1051021172847:web:2a2dd8e228c5f45703ed9a",
  measurementId: "G-TZCL141YVN"
};
    // Initialize Firebase
    firebase.initializeApp(firebaseConfig);
    firebase.analytics();
</script>

  <script>
    JSON.stringify(document.getElementById('img_url').value);
    // JSON.stringify(document.getElementById('specStore').value);

    var img_arr = [];
    // var i = 0;
    var fileButton = document.getElementById('addProductImages');
    var uploader = document.getElementById('uploader');
    var getId = document.getElementById('prog_shot');


    fileButton.addEventListener("change", function(e) {
        // var i = 0;
        console.log("i was detected");
        // var getId = document.getElementById(`prog_shot${i}`);
        getId.innerText = 'Uploading...';
        getId.style.color = '#e76f51';
        uploader.style.display = 'block';
        //get file 
        var file = e.target.files[0];

        // create a storage ref
        var storageRef = firebase.storage().ref('images/' + file.name);

        //upload files
        var task = storageRef.put(file);

        // console.log(file);
        // console.log(task);
        console.log(file.name,"here");
        //update progress bar
        task
            .then(snapshot => snapshot.ref.getDownloadURL())
            .then((url) => {
                console.log(url);
                img_arr.push(url);
                $('#img_name').append(`<div style="border:1px solid #C3E3FD;color:#011627;margin:4px;padding:1px;border-radius:2px">${file.name}</div>`);
                console.log(img_arr);
                document.getElementById('img_url').value = JSON.stringify(img_arr);
                console.log(document.getElementById('img_url').value);


                // document.querySelector('#someImageTagID').src = url;
            })
            .catch(console.error);
        task.on('state_changed',
            function progress(snapshot) {
                var percentage = (snapshot.bytesTransferred / snapshot.totalBytes) * 100;
                uploader.value = percentage;
                if (percentage == 100) {
                    // var getId = document.getElementById(`prog_shot${i}`);
                    getId.innerText = "Done";
                    getId.style.color = 'green';
                }

            },
            function error(err) {
                console.log(err);
            },
            function complete() {
                console.log('completed successfully');
            })
            // i++;
    });


  $(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  })
  </script>
</body>
</html>
