<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <style>
    body {
      font: 400 15px/1.8 Lato, sans-serif;
      background-image: url('https://image.freepik.com/free-photo/blur-hospital-clinic-interior_1203-8618.jpg');
      background-repeat: no-repeat;
      background-size: cover;
    }
    .navbar {
       font-family: Montserrat, sans-serif;
       margin-bottom: 0;
       background-color: #2d2d30;
       border: 0;
       font-size: 11px !important;
       letter-spacing: 4px;
       opacity: 0.9;
     }
     .navbar li a, .navbar .navbar-brand {
       color: #d5d5d5 !important;
     }
     .navbar-nav li a:hover {
       color: #fff !important;
     }
     .navbar-nav li.active a {
       color: #fff !important;
       background-color: #29292c !important;
     }
     .navbar-default .navbar-toggle {
       border-color: transparent;
     }
    #form{
        color: white;
        border-radius: 20px;
      }
      h1{
        color: white;
        text-align: center;
      }
      .img{
        width: 50%;
        height: 100%;
        box-sizing: border-box;
          padding: 0;
      }
      .image{
        width: 100%;
        height: 100%;
        border-radius: 15px;

      }
      #primaryContainer{
        border-radius: 20px;
        margin-top: 10vh;
        margin-bottom: 5vh;
        margin-bottom: 10vh;
        z-index: -2;
        padding: 0;
      }
      button{
        background-color:white;
        border-width: 2px;
        border-color: white;
        border-style: solid;
        color: black;
        margin-top: 10%;
        width: 50%;
        border-radius: 10px;
        margin-left: 25%;
        margin-bottom: 5%;
      }
      button:hover{
        background-color:blue ;
        color: white;
        border:none;
      }
      .position{
        position: static;
      }
      footer {
        background-color: #2d2d30;
        color: #f5f5f5;
        padding: 32px;
      }
      footer a {
        color: #f5f5f5;
      }
      footer a:hover {
        color: #777;
        text-decoration: none;
      }


      @media only screen and (min-width: 1000px){
        .image{
          height: 88vh;
        }
      }
      /* On screens that are 992px or less*/
    @media screen and (max-width: 992px) {
      .img{
        width: 100%;
      }
    }
    </style>


  </head>
  <body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" style="margin-left:0;width:50px;"data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#myPage">EXCELERENTUM</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="">HOME</a></li>
            <li><a href="/center">CENTRE</a></li>
            <li><a href="">REGISTER</a></li>
          <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
            <li>

            <% if(auth) { %>
              <form action="/logout" method="POST">
                <button type="submit" class="btnAuth">Logout</button>
              </form>
            <% } else { %>
              <form action="/login" method="GET">
                <button type="submit" class="btnAuth"></submit>Login</a>
              </form>
            <% } %></li>

            <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
          </ul>
        </div>
      </div>
    </nav>
  <div class="bg-primary container p-0" id="primaryContainer">
    <div class="col-lg-6 img position">
      <img class="image " src="https://as1.ftcdn.net/jpg/02/15/32/30/500_F_215323030_cbEjE1nAKNlr4eFYmcMVmhJMmQEnsUyK.jpg" alt="Responsive image">
    </div>
    <div class="col-lg-6 mt-2 position">
      <h1 class="bg-primary  p-2">Register With Us</h1>
      <div id="form" class="conatiner w-100 mx-auto bg-primary p-3">
        <form >
          <div class="form-group">
            <label for="exampleFormControlInput1">Center Name</label>
            <input type="text" class="form-control" >
          </div>
          <div class="form-group">
            <label for="exampleFormControlTextarea1">Describe your center</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
         </div>
          <div class="form-group">
            <label for="exampleFormControlSelect1">Select Category</label>
            <select class="form-control" id="category">
              <option value='1'>Banks</option>
              <option value='2'>Hospitals</option>
              <option value='3'>Government Offices</option>
              <option value='4'>Restraunt</option>
              <option value='5'>Salons/Spas</option>
            </select>
          </div>
          <% let a=2 /*value of above category input*/
          if(a==2){ //for hospitals %>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Select Departments</label>
            <select multiple class="form-control" id="exampleFormControlSelect2">
              <option>Radiology</option>
              <option>X-ray center</option>
              <option>OPD</option>
              <option>CT-scan</option>
            </select>
          </div>
          <%}else{%>
          <div class="form-group">
            <label for="exampleFormControlInput1">Number of Counters</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="">
          </div>
          <%}%>
          <div class="custom-file">
            <label class="custom-file-label" for="customFile">Upload a picture</label>
            <input type="file" class="custom-file-input" id="customFile">
          </div>
          <button type="submit" class="rounded-pill p-2 mt-3">Submit<i class="fas fa-arrow-right mx-2"></i></button>
        </form>
      </div>
    </div>
  </div>
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>All Rights Reserved @Excelerentum</p>
  </footer>

  <script>
  $(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip();

    // Add smooth scrolling to all links in navbar + footer link
    $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

      // Make sure this.hash has a value before overriding default behavior
      if (this.hash !== "") {

        // Prevent default anchor click behavior
        event.preventDefault();

        // Store hash
        var hash = this.hash;

        // Using jQuery's animate() method to add smooth page scroll
        // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
        $('html, body').animate({
          scrollTop: $(hash).offset().top
        }, 900, function(){

          // Add hash (#) to URL when done scrolling (default click behavior)
          window.location.hash = hash;
        });
      } // End if
    });
  })
  </script>
</body>
</html>
