  <%- include('./Delta/header') %>

  <link rel="stylesheet" href="/css/centerregisterrationform.css">

  <%- include('./Delta/navbar') %>

  <div class="bg-primary container p-0" id="primaryContainer">
    <div class="col-lg-6 img position">
      <img class="image " src="https://as1.ftcdn.net/jpg/02/15/32/30/500_F_215323030_cbEjE1nAKNlr4eFYmcMVmhJMmQEnsUyK.jpg" alt="Responsive image">
    </div>
    <div class="col-lg-6 mt-2 position">
      <h1 class="bg-primary  p-2">Register With Us</h1>
      <div id="form" class="conatiner w-100 mx-auto bg-primary p-3">
        <form action="/submitCenter" method="POST">
          <div class="form-group">
            <label >Center Name</label>
            <input type="text" class="form-control" name="centerName">
          </div>
          <div class="form-group">
            <label >Phone NO.</label>
            <input type="text" class="form-control" name="pNo">
          </div>
          <div class="form-group">
            <label >Address</label>
            <input type="text" class="form-control" name="address">
          </div>
          <div class="form-group">
            <label >Describe your center</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="desc"></textarea>
          </div>
          <div class="form-group">
            <label >Select Category</label>
            <select class="form-control" id="category" name="domain">
              <option value='Banks'>Banks</option>
              <option value='Hospitals'>Hospitals</option>
              <option value='Government Offices'>Government Offices</option>
              <option value='Restraunt'>Restraunt</option>
              <option value='Salons/Spa'>Salons/Spas</option>
            </select>
          </div>
          <% let a=2 /*value of above category input*/
          if(a==2){ //for hospitals %>
          <div class="form-group">
            <label for="exampleFormControlSelect2">Select Departments</label>
            <select multiple class="form-control" id="exampleFormControlSelect2" name="department">
              <option>Radiology</option>
              <option>X-ray center</option>
              <option>OPD</option>
              <option>CT-scan</option>
            </select>
          </div>
          <%}else{%>
          <div class="form-group">
            <label for="exampleFormControlInput1">Number of Counters</label>
            <input type="number" class="form-control" id="exampleFormControlInput1" placeholder="" name="counterNo">
          </div>
          <%}%>
          <div class="custom-file">
            <label class="custom-file-label" for="customFile">Upload a picture</label>
            <input type="file" class="custom-file-input" id="customFile" name="img">
          </div>
          <button type="submit" class="rounded-pill p-2 mt-3">Submit<i class="fas fa-arrow-right mx-2"></i></button>
        </form>
      </div>
    </div>
  </div>
<%- include('./Delta/footer') %>
