
<!DOCTYPE html>
<html lang="en">
<head>

  <title>Home</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  body {
    font: 400 15px/1.8 Lato, sans-serif;
    color: #777;
  }
  h3, h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;      
    font-size: 20px;
    color: #111;
  }
  .container {
    padding: 80px 120px;
  }
  .person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    
  }
  .person:hover {
    border-color: #f1f1f1;
  }
  .carousel-inner img {
   
    /* filter: ; make all photos black and white  */
    width: 100%; /* Set width to 100% */
    margin: auto;
  }
  .carousel-caption h3 {
    color: #fff !important;
  }
  @media (max-width: 600px) {
    .carousel-caption {
      display: none; /* Hide the carousel text when the screen is less than 600 pixels wide */
    }
  }
  .bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
  }
  .bg-1 h3 {color: #fff;}
  .bg-1 p {font-style: italic;}
  .list-group-item:first-child {
    border-top-right-radius: 0;
    border-top-left-radius: 0;
  }
  .list-group-item:last-child {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  .thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
  .thumbnail p {
    margin-top: 15px;
    color: #555;
  }
  .btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: .2s;
  }
  .btn:hover, .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
  }

  .nav-tabs li a {
    color: #777;
  }

  .navbar {
    font-family: Montserrat, sans-serif;
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
  }
  .navbar li a, .navbar .navbar-brand { 
    color: #d5d5d5 !important;
  }
  .navbar-nav li a:hover {
    color: #fff !important;
  }
  .navbar-nav li.active a {
    color: #fff !important;
    background-color: #29292c !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
  }
  .open .dropdown-toggle {
    color: #fff;
    background-color: #555 !important;
  }
  .dropdown-menu li a {
    color: #000 !important;
  }
  .dropdown-menu li a:hover {
    background-color: red !important;
  }
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  footer a {
    color: #f5f5f5;
  }
  footer a:hover {
    color: #777;
    text-decoration: none;
  }  
  .form-control {
    border-radius: 0;
  }
  textarea {
    resize: none;
  }
  </style>
</head>
<body id="myPage" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <a class="navbar-brand" href="#myPage">EXCELERENTUM</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><a href="">HOME</a></li>
        <li><a href="">CENTRE</a></li>
        <li><a href="">REGISTER</a></li>
      <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-search"></span></a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container-fluid">
  <h2><B>Centre Name</b></h2>
  <p>Click on below links to learn more about the centre.</p>

  <ul class="nav nav-tabs">

    <li><a data-toggle="tab" href="#menu1">General Information</a></li>
    <li><a data-toggle="tab" href="#menu2">Lists of Departments</a></li>
<li><a data-toggle="tab" href="#menu3">Hours Open</a></li>
  <li><a data-toggle="tab" href="#menu4">Contact Information</a></li>
    <li><a data-toggle="tab" href="#menu5">Reviews</a></li>
  </ul>

  <div class="tab-content">
    <div id="menu1" class="tab-pane fade in active">
      <h3><b>General Information</b></h3>
<div class="row">
       <div class="col-md-4">
<img src="https://cdn3.vectorstock.com/i/1000x1000/57/42/hospital-icon-green-vector-17705742.jpg" class="img-responsive" alt="Photo" height="245" width="255"><br>
</div>
<div class="col-md-4">
    <p>  <b>Domain:</b> Hospital\bank\restaurant</p>
    <p><b>Overview:</b>Among the finest Dermatologists in the city, Dr. Mukadams Laser Cure in Bandra West, Mumbai is known for offering excellent patient care. The doctor holds an experience of 8 years and has extensive knowledge in the respective field of medicine. </p>    
<p><b>Established:</b> 1997</p>

</div>
</div>
</div>
    <div id="menu2" class="tab-pane fade">
      <h3><b>Lists of Departments</b></h3>
      <p> Department 1</p>
  <p>Department 2</p>
  <p>Department 3</p>
  <p>Department 4</p>
  <p>Department 5</p>
  <p>Department 6</p>
  <p>Department 7</p>
    </div>
    <div id="menu3" class="tab-pane fade">
      <h3><b>Opening Hours</b></h3>
      <p><b>The establishment is functional on</b></p>
  <p><b>Monday:-</b> 10:00 Am - 7:00 Pm</p>
  <p><b>Tuesday:- </b>10:00 Am - 7:00 Pm</p>
  <p><b>Wednesday:- </b>10:00 Am - 7:00 Pm</p>
  <p><b>Thursday:- </b>10:00 Am - 7:00 Pm</p>
  <p><b>Friday:- </b>10:00 Am - 7:00 Pm</p>
  <p><b>Saturday:- </b>10:00 Am - 7:00 Pm</p>
  <p><b>Sunday:- </b>Closed</p>
    </div>
    <div id="menu4" class="tab-pane fade">
      <h3><b>Contact Information</b></h3>
      <p><b>Address:</b>Suit 102, Grace Heritage, 16th Road, Bandra West, Mumbai - 400050, Opposite Gurunanak Park</p>
<p><b>Phone:</b>9350348772</p>
<p><b>Email:</b>email@gmail.com</p>
    </div>
    <div id="menu5" class="tab-pane fade">
      <h3><b>Reviews</b></h3>
      <p> <div class="col-sm-12">
     <div class="row">
        <div class="col-sm-2">
          <div class="well bg-2">
           <p>User 1</p>
           <img src="https://thumbs.dreamstime.com/b/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-46846325.jpg" class="img-circle" height="65" width="75" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="well bg-2">
            <p>Review</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="well bg-2">
           <p>User 2</p>
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRNNUQRdlhX94X5UgInzPmJmFZnDt7hgfKKfQ&usqp=CAU" class="img-circle" height="65" width="75" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="well bg-2">
            <p>Review</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="well bg-2">
           <p>User 3</p>
           <img src="https://www.doesport.co.uk/wp-content/uploads/2017/11/profile-icon-male-avatar-portrait-casual-person-silhouette-face-flat-design-vector-illustration-58249394.jpg" class="img-circle" height="65" width="75" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="well bg-2">
            <p>Review</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-2">
          <div class="well bg-2">
           <p>User 4</p>
           <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJoOY1lkUvw83BnCnbU8YuwjoAAYK8I4BpVA&usqp=CAU" class="img-circle" height="65" width="75" alt="Avatar">
          </div>
        </div>
        <div class="col-sm-10">
          <div class="well bg-2">
           <p>Review</p>
          </div>
        </div>
      </div>     
    </div>
  </div>
</div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="text-center">
  <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
    <span class="glyphicon glyphicon-chevron-up"></span>
  </a><br><br>
  <p>All Rights Reserved @Excelerentum</p> 
</footer>

<script>
$(document).ready(function(){
  // Initialize Tooltip
  $('[data-toggle="tooltip"]').tooltip(); 
  
  // Add smooth scrolling to all links in navbar + footer link
  $(".navbar a, footer a[href='#myPage']").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {

      // Prevent default anchor click behavior
      event.preventDefault();

      // Store hash
      var hash = this.hash;

      // Using jQuery's animate() method to add smooth page scroll
      // The optional number (900) specifies the number of milliseconds it takes to scroll to the specified area
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 900, function(){
   
        // Add hash (#) to URL when done scrolling (default click behavior)
        window.location.hash = hash;
      });
    } // End if
  });
})
</script>

</body>
</html>
